# Nonfree repository
/nonfree/

# Dependency files
/.bender/
/Bender.lock

# Modelsim Files
*.wlf
modelsim.ini
*stacktrace*
transcript

gmon.out

# Docs
/site/
/docs/generated/

# Installation directories
/.venv/
/tools/

# traces
sim.vcd